.services {
    padding: 0 3rem 0 3rem;
    display: flex;
    /* height: 30rem; */
    /* margin-bottom: 8rem; */
    margin-top: 7rem;
    /* margin-bottom: 13rem; */
    padding-top: 3rem;
    justify-content: center;
    /* background: gray; */
    justify-content: space-between;
    /* justify-content: center; */
    height: 100vh;
    /* flex-wrap: wrap; */
  }
  /* left side */
  .s-awesome {
    display: flex;
    flex-direction: column;
    /* position: relative; */
    /* width: 60%; */
    /* background: yellow; */
    /* gap: 20px; */
  }
  
  .s-awesome > :nth-child(1) {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
  }
  .s-awesome > :nth-child(2) {
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
  }
  .s-awesome > :nth-child(3) {
    color: var(--black);
    font-size: 18px;
    margin-top: 1rem;
  }
  .s-button {
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
  }
  /* right sided */
  .cards {
    position: relative;
    /* padding-right: 250px; */
    width: 50%;
    /* background: gray; */
  }
  .cards > * {
    position: absolute;
  }
  .mobview{
    display: none;
  }
  
  /* blur */
  .s-blur2 {
    left: 14rem;
    top: 8rem;
  }
  
  .s-blur1 {
    top: 13rem;
    left: -18rem;
  }
  
  @media screen and (max-width: 768px) {
    .services {
      /* margin-top: 0; */
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      gap: 5rem;
      /* height: 66rem; */
      padding: 0px;
      /* background:gray; */
    }
    .s-awesome{
      width: 100%;
      /* background: rgb(231, 18, 18); */
       /* padding-top: 10rem; */

    } 
   
  
    .cards {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      gap: 17rem;
      display: none;
       background:rgb(190, 7, 7);
       gap: 10px;
       min-height: 100vh;
       width: 100%;
       /* position: static; */
    }

    .mobview{
      display:flex;
      width: 100%;
      background: #000;
    }
    /* .cards > * {
      position: static;
    } */
  }