*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.hero_main{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../Img/giphy.gif");
    /* background-repeat:no-repeat;  */
    background-size: "cover";
    background-position: center center;
}
.hero_wrap{
    width: 85%;
    display: flex;
    /* background: rgb(53, 4, 99); */
    justify-content: center;
    align-items: center;
}
.hero_left{
    width: 40%;
    height: 40%;
    /* background: white; */
    text-align: left;
    /* text-decoration-color: aliceblue; */
    color: aliceblue;

}
.hero_right{
    width: 40%;
    height:300px;
    /* background: white; */
}
.geefoto{
    width: 300px;
    height: 100%;
    
}
.looop{
    color:rgb(223, 226, 43);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400px;
    font-size: 20px;
}

.butt{
    width:120px;
    height: 40px;
    border-radius: 20px;
    color:rgb(219, 217, 224) ;
    border: none; 
    background:blue;
}
.butt:hover{
    border-radius: 20px;
    color:gold ; 
    background: #000;
}

@media screen and (max-width: 768px) {
   
    .hero_wrap{
        width: 100%;
    }
    .hero_right{
        display: none;
    }
    .hero_left{
        width: 80%;
        /* color: rgb(211, 115, 26); */
        font-size: 15px;
    }
}
 