.contact-form{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 80vh;
    margin-top: 4rem;
    /* margin-bottom: 4rem; */
      /* scroll */
  padding-top: 3rem;
  /* width: 80%; */
  justify-content: center;
  /* align-items: center; */
  /* background:gray; */
}

.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
    /* width: 35%; */
     /* background: rgb(141, 39, 39); */
}

.c-right>form
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    
}

.c-right .user{
    width: 20rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 16px;   
}

.s-awesome {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    /* width: 50%; */
    /* background: #000; */
  }

  .s-awesome > :nth-child(3) {
    color: var(--black);
    font-size: 18px;
    font-weight: bold;
    margin-top: 1rem;
  }

.w-left{
    width: 50%;
    /* background: grey; */
    text-align: center;
    justify-content: center;
}

textarea{
    height: 4rem!important;
}

.c-blur1{
    top: 1rem;
    left: 8rem;
}

@media screen and (max-width: 768px) {
    .contact-form{
        padding: 0;
        flex-direction: column;
        gap: 2rem;
       min-height:40rem;
    }
    .c-right .user{
        /* width: 16rem; */
        width: 178%;
    }

    .c-right{
        display: flex;
        /* background: #000; */
        justify-content: center;
        /* width: 35%; */
         /* background: grey; */
    }

    .w-left{
        width: 100%;
        /* background: grey; */
        text-align: center;
    }

} 